body {
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 80px;
    background-image: url('Images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Menu */
.menu ul {
    list-style-type: none;
    background-color: purple;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: right;
}

.menu a:hover {
    background-color: darkmagenta;
}

.menu li {
    float: right;
}

#logoHome1 {
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
}

#logoHome2 {
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
}

/* Begin webpage */

#animals {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

#adoptHeader {
    margin-top: 100px;
    text-align: center;   
}

#welcomeHeader {
    text-align: center;
}

.adoptBut {
    display: block;
    margin: 0 auto;
    background-color: rgb(249, 78, 146);
    border: 0px;
}

#slideshow {
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;
    /* width: 50%; */
}

#slideshow img {
    /* width: 50%; */
    text-align: center;
    height: auto;
    display: none;

}